@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  margin: 40px auto;
  max-width: 60rem;
  line-height: 1.6;
  font-size: 1.1rem;
  background-color: #0f141b;
  padding: 0 10px;
  /* font-family: "Inter", sans-serif; */
}

h1,
h2,
h3,
h4,
h6,
li,
p {
  color: #c5c5c5;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Open Sans", sans-serif;
}

h1 {
  left: 50%;
  top: 50%;
}

img {
  width: 750px;
  border-radius: 10px;
}

pre {
  background-color: #181F27;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  font-family: "Inconsolata", monospace;
}

::selection {
  color: white;
  background: #e79e67;
}
